In [28]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor

df_train = pd.read_csv('train_pre_1.сsv')
df_test = pd.read_csv('test_pre_1.сsv')

import json

with open('true_columns.json', 'r') as f:
    true_columns = json.load(f)

In [29]:
true_columns = true_columns[0]
true_columns[0] = 'Id' #тест показал что даже такой столб имеет значение такчто...
true_columns

['Id',
 'DistrictId',
 'Rooms',
 'Square',
 'LifeSquare',
 'KitchenSquare',
 'Floor',
 'HouseFloor',
 'HouseYear',
 'Ecology_1',
 'Ecology_2',
 'Social_1',
 'Social_2',
 'Social_3',
 'Helthcare_2']

In [30]:
x_train = df_train.loc[:, true_columns]
y_train = df_train['Price']
model = GradientBoostingRegressor(n_estimators=327, max_depth=7, random_state=42, max_features=14)
model.fit(x_train, y_train)
y_pred = model.predict(df_test.loc[:, true_columns])
y_pred

array([155457.29075042, 210951.83298377, 129948.23667537, ...,
       314134.52449626, 205670.51576718, 175611.47183795])

In [31]:
id = list(df_test.loc[:, 'Id'])
price = list(y_pred)
result = pd.DataFrame({'Id':id, 'Price':price})
result

         Id          Price
0       725  155457.290750
1     15856  210951.832984
2      5480  129948.236675
3     15664  394863.356385
4     14275  143518.278679
...     ...            ...
4995   8180  236538.711939
4996   4695  128035.028933
4997   5783  314134.524496
4998   4780  205670.515767
4999  12504  175611.471838

[5000 rows x 2 columns]

In [32]:
result.to_csv('SShirkin_predictions.csv', sep=',', index=False)